<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nissan</title>
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/font/nissanbrand/stylesheet.css" />
    <link rel="stylesheet" href="/assets/font/inter/inter.css" />
  </head>
  <body>
    <header class="header-main">
      <div class="nav-submenu__wrap">
        <div class="nav-submenu-inform">
          <p class="nav-submenu-text nav-submenu-inform-phone">
            Продаж та сервіс
            <a href="#" class="nav-inform-link">(0522) 210-333</a>
          </p>
          <p class="nav-submenu-text nav-submenu-inform-adress">
            м. Кропивницький, пр. Винниченка, 2
          </p>
        </div>
        <div class="nav-submenu">
          <ul class="nav-submenu__list">
            <li class="nav-submenu__item"><a href="#">КОНТАКТИ</a></li>
            <li class="nav-submenu__item"><a href="#">ЗАПИС НА СЕРВІС</a></li>
            <li class="nav-submenu__item"><a href="#">ТЕСТ-ДРАЙВ</a></li>
            <li class="nav-submenu__item">
              <a href="#">NISSAN FINANCIAL SERVICES</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-menu">
        <div class="menu-inform">
          <div class="menu-inform-logo">
            <a href="/"><img src="/assets/img/logo-black.png" alt="logo" /></a>
          </div>
          <h1 class="menu-inform-title">АТМ КРОПИВНИЦЬКИЙ ОФІЦІЙНИЙ ДИЛЕР</h1>
        </div>
        <div class="menu-pages">
          <ul class="menu-list">
            <li class="menu-item"><a href="#">моделі</a></li>
            <li class="menu-item"><a href="#">послуги</a></li>
            <li class="menu-item"><a href="#">сервіс</a></li>
            <li class="menu-item"><a href="#">новини та акції</a></li>
            <li class="menu-item"><a href="#">про компанію</a></li>
          </ul>
        </div>
      </div>
    </header>

    <header class="header-main header-mobile">
      <div class="main-menu">
        <div class="menu-inform">
          <div class="menu-left">
            <div class="menu-inform-logo">
              <a href="/"
                ><img src="/assets/img/logo-mobile-black.png" alt="logo"
              /></a>
            </div>
            <a href="tel:+380 (0522) 210-333" class="menu-link"
              >(0522) 210-333</a
            >
          </div>
          <h1 class="menu-inform-title">АТМ КРОПИВНИЦЬКИЙ ОФІЦІЙНИЙ ДИЛЕР</h1>
          <svg width="40" height="33" viewBox="0 0 40 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1.5C0 0.671573 0.671573 0 1.5 0H38.5C39.3284 0 40 0.671573 40 1.5C40 2.32843 39.3284 3 38.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z" fill="black"/>
            <path d="M0 16.5C0 15.6716 0.671573 15 1.5 15H38.5C39.3284 15 40 15.6716 40 16.5C40 17.3284 39.3284 18 38.5 18H1.5C0.671574 18 0 17.3284 0 16.5Z" fill="black"/>
            <path d="M0 31.5C0 30.6716 0.671573 30 1.5 30H38.5C39.3284 30 40 30.6716 40 31.5C40 32.3284 39.3284 33 38.5 33H1.5C0.671574 33 0 32.3284 0 31.5Z" fill="black"/>
            </svg>
            
        </div>
      </div>
    </header>

    <main class="offers">
      <h1 class="offers__title upperCase light">Цінові пропозиції</h1>

      <div class="cards-wrapper">
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="top">
            <img src="/assets/img/Picture.png" alt="card auto" />
            <h2 class="fz-28 light">NISSAN JUKE</h2>
          </div>
          <div class="price-wrapper light">
            <p class="upperCase fz-12">ціна від</p>
            <h3 class="fz-24 red">1 019 999 грн</h3>
          </div>
          <div>
            <p class="fz-15">Кредит від 0,01% річних**</p>
            <ul class="features">
              <li class="fz-14 light features__item">
                Спортивні передні сидіння «моноформа»
              </li>
              <li class="fz-14 light features__item">
                LED фари вже в базовій версії
              </li>
              <li class="fz-14 light features__item">
                Аудіосистема Bose® Personal® Plus з 8-ма динаміками
              </li>
            </ul>
          </div>
          <div class="buttons-wrapper">
            <div class="button button--white">
              <a href="#" class="more-btn">
                Отримати пропозицію
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
            <div class="button button--white">
              <a href="#" class="more-btn">
                Прайс-лист
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L0.999999 1"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <p class="postscript fz-14 light">
        Зображення призначені виключно для ознайомлення.  На деяких з них можуть бути показані версії автомобіля для інших ринків.  Автомобілі на зображеннях не обов'язково відповідають конкретним  моделям, варіантам комплектації або пропозиціям. Деякі зображені  елементи можуть бути недоступні або доступні тільки в певній  комплектації.
      </p>
    </main>

    <footer class="footer">
      <div class="footer-wrap">
        <div class="footer-col footer-model">
          <h3 class="footer-col__title">Моделі</h3>
          <ul class="footer-list">
            <li class="footer-item"><a href="#">Juke</a></li>
            <li class="footer-item"><a href="#">Оновлений Juke</a></li>
            <li class="footer-item"><a href="#">Qashqai</a></li>
            <li class="footer-item"><a href="#">Новий Qashqai</a></li>
            <li class="footer-item"><a href="#">X-Trail</a></li>
            <li class="footer-item"><a href="#">LEAF</a></li>
            <li class="footer-item"><a href="#">Цінові пропозиції</a></li>
            <li class="footer-item">
              <a href="#">Записатись на тест-драйв</a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-services">
          <h3 class="footer-col__title">ПОСЛУГИ</h3>
          <ul class="footer-list">
            <li class="footer-item">
              <a href="#">Nissan Financial Services</a>
            </li>
            <li class="footer-item"><a href="#">Лізинг</a></li>
            <li class="footer-item"><a href="#">Страхування</a></li>
            <li class="footer-item"><a href="#">Корпоративні продажі</a></li>
          </ul>
        </div>
        <div class="footer-col footer-support">
          <h3 class="footer-col__title">Сервіс</h3>
          <ul class="footer-list">
            <li class="footer-item"><a href="#">Калькулятор ТО</a></li>
            <li class="footer-item"><a href="#">Записатись на сервіс</a></li>
            <li class="footer-item"><a href="#">Програма лояльності</a></li>
            <li class="footer-item"><a href="#">Запасні частини</a></li>
            <li class="footer-item"><a href="#">Аксесуари</a></li>
            <li class="footer-item"><a href="#">Nissan Assistance</a></li>
            <li class="footer-item">
              <a href="#">Технічне обслуговування і ремонт</a>
            </li>
            <li class="footer-item"><a href="#">Гарантія</a></li>
          </ul>
        </div>
        <div class="footer-col footer-company">
          <h3 class="footer-col__title">Про компанію</h3>
          <ul class="footer-list">
            <li class="footer-item"><a href="#">Про нас</a></li>
            <li class="footer-item"><a href="#">Контакти</a></li>
            <li class="footer-item"><a href="#">Зв’язатися з нами</a></li>
            <li class="footer-item"><a href="#">Ваш менеджер</a></li>
          </ul>
        </div>
        <div class="footer-col footer-contact">
          <h3 class="footer-col__title">КОНТАКТИ</h3>
          <ul class="footer-list">
            <li class="footer-item">
              (0522) 210-333 (097) 710-33-33 м. Кропивницький, проспект
              Винниченка, 2 autosalon@nissan.kr.ua
            </li>
            <li class="footer-item">
              Компанія «АТМ КРОПИВНИЦЬКИЙ» є офіційним дилером імпортера ТОВ
              «НІССАН МОТОР УКРАЇНА» в місті Кропивницький та регіоні.
            </li>
          </ul>
          <div class="footer-social">
            <ul class="footer-social__list">
              <li class="footer-social__item">
                <a href="#"
                  ><img
                    src="/assets/img/facebook.png"
                    alt="facebook"
                    class="footer-social"
                /></a>
              </li>
              <li class="footer-social__item">
                <a href="#"
                  ><img
                    src="/assets/img/youtube.png"
                    alt="youtube"
                    class="footer-social"
                /></a>
              </li>
              <li class="footer-social__item">
                <a href="#"
                  ><img src="/assets/img/in.png" alt="in" class="footer-social"
                /></a>
              </li>
              <li class="footer-social__item">
                <a href="#"
                  ><img
                    src="/assets/img/insta.png"
                    alt="insta"
                    class="footer-social"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
