.model-menu {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  .menu-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    .menu-item {
      padding: 12px 0;
      font-family: "Nissan Brand";
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      a {
        color: #000;
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: -1px;
        right: -1px;
        height: 3px;
        background: #c3002f;
        transform: translateY(-100%);

        opacity: 0;

        transition: opacity .3s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }
    .active {
      &::before {
        content: "";
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 0.9em;
        height: 15%;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        background: #c3002f;
      }

      &::after {
        opacity: 1 !important;
      }
    }
  }
}

.mobile-model-menu {
  display: none;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;

  &-active {
    .head {
      &-icon {
        rotate: 180deg;
      }
    }

    .menu-list {
      height: auto !important;
      padding: 16px !important;
      border-bottom: 1px solid #d9d9d9;
      clip-path: inset(0 0% 0% 0) !important;
      pointer-events: all !important;

      .menu-item {
        padding: 10px 0;
      }
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px 12px 16px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    &-title {
      font-size: 16px;
      font-weight: bold;
    }

    &-icon {
      transition: rotate 0.3s ease-in-out;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;

    padding: 16px !important;

    overflow: hidden;
    pointer-events: none;

    clip-path: inset(0 0% 100% 0);

    transition: clip-path 0.3s ease-in-out;

    position: absolute;
    background: white;
    left: 0;
    right: 0;

    .menu-item {
      font-size: 14px;
      padding: 10px 0;
    }
  }
}
