.finance-offers {
  margin-top: 60px;
  margin-bottom: 100px;

  &__title {
    margin: 0 auto;
    width: 60%;
    text-align: center;

    @include forMobile {
      width: 100%;
    }
  }

  .navigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      svg {
        stroke: #acacac;
      }

      &--active {
        svg {
          stroke: #c3002f;
        }
      }
    }
  }

  .offers-section {
    margin-top: 40px;

    &__title {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-cards {
      margin-top: 40px;
      display: flex;
      gap: 30px;

      @include forMobile {
        flex-direction: column;
      }

      .card {
        width: 370px;

        @include forMobile {
          width: 100%;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .table {
      width: 100%;
      color: #666666;
      margin-top: 40px;

      tbody {
        tr {
          td {
            padding: 10px 0;
            border-bottom: 1px solid #d9d9d9;

            @include forMobile {
              padding: 9px 9px;
              border-bottom: none;
              border-right: 1px solid #d9d9d9;
              
              &:nth-of-type(1) {
                padding: 9px 9px 9px 0;
              }
              
              &:nth-last-of-type(1) {
                border: none;
              }
            }
          }
        }
      }

      &__secondary {
        .rotated-text {
          // transform: rotate(180deg); /* Rotate the text */
          writing-mode: vertical-rl; /* Ensure text flows vertically */
          text-align: center; /* Align the text */
          white-space: nowrap; /* Prevent text wrapping */
          width: 20px; /* Adjust as needed for layout */
          vertical-align: middle; /* Align with other rows */

          @include forMobile {
            padding: 0 10px !important;
            border-bottom: none;
            border-right: none;
            border-left: 1px solid #d9d9d9;
            rotate: 180deg;
          }
        }

        tbody {
          tr {
            td {
              @include forMobile {
                padding: 15px 9px !important;
              }
            }
          }

          .head {
            td {
              @include forMobile {
                padding: 4px 9px !important;
                border-bottom: 1px solid #d9d9d9 !important;
              }
            }
          }
        }
      }
    }

    &__subtitle {
      margin-top: 40px;
      text-align: center;
    }

    &__list {
      margin-top: 40px;
      padding-left: 15px;

      &-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    &.image-section {
      display: flex;
      gap: 40px;
      margin-top: 60px;

      @include forMobile {
        gap: 20px;
        flex-direction: column;
      }

      .image-section {
        &__image {
          width: 540px;
          height: 270px;

          @include forMobile {
            width: 100%;
            height: auto;
            max-height: 270px;
          }
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding-right: 40px;

          .button {
            width: fit-content;
            margin-top: 20px;

            @include forMobile {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
