// .home {
//   .header-main {
//     .main-menu {
//       .menu-inform {
//         .menu-inform-title {
//           color: #fff;
//           font-size: 34px;
//           line-height: 54px;
//         }
//       }
//       .menu-pages {
//         .menu-list {
//           .menu-item a {
//             color: #fff;
//           }
//         }
//       }
//     }
//   }
// }

.main-section {
  // height: 650px;
  padding-top: 20%;
  background-size: cover;
  .car-info-wrap {
    padding: 0 80px 50px;
    display: flex;
    .car-info {
      padding: 20px;
      background: #ffffff80;
      backdrop-filter: blur(30px);
      display: flex;
      flex-direction: column;
      width: 30%;
      .car-info-title {
        font-family: "Nissan Brand";
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #000;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .car-info-subtitle {
        font-family: "Nissan Brand";
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #000;
        margin-bottom: 40px;
        text-transform: uppercase;

        @include forMobile {
          margin-bottom: 20px;
        }
      }
    }
  }
  .model-more-btn {
    margin-bottom: 10px;
    width: fit-content;
    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 15px;
      width: fit-content;
      background: none;
      border-radius: 40px;
      font-family: "Nissan Brand";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      border: 1px solid #000;
      transition-duration: 0.3s;
      span {
        svg {
          width: 100%;
          height: 100%;
          path {
            color: #000;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  .model-more-btn:hover {
    .more-btn {
      border: 1px solid #666666;
      color: #666666;
      transition-duration: 0.3s;
      span {
        svg {
          width: 100%;
          height: 100%;
          path {
            transition-duration: 0.3s;
            color: #666666;
          }
        }
      }
    }
  }
}
.main-section:nth-child(2n) {
  .car-info {
    background: none;
    backdrop-filter: none;

    .car-info-title,
    .car-info-subtitle {
      color: #fff;
    }
  }

  .model-more-btn {
    margin-bottom: 10px;
    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 15px;
      width: fit-content;
      background: none;
      border-radius: 40px;
      font-family: "Nissan Brand";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid #fff;
      transition-duration: 0.3s;
      span {
        svg {
          width: 100%;
          height: 100%;
          path {
            color: #fff;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  .model-more-btn:hover {
    .more-btn {
      background-color: #fff;
      color: #000;
      transition-duration: 0.3s;
      span {
        svg {
          width: 100%;
          height: 100%;
          path {
            transition-duration: 0.3s;
            color: #000 !important;
          }
        }
      }
    }
  }
}

.section-model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  .model-wrap {
    max-width: 75%;
    .section-title {
      margin-bottom: 60px;
      .title {
        font-family: "Nissan Brand";
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 2px;
      }
    }
    .model-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      .model-item {
        .model-photo {
          width: 100%;
          margin-bottom: 20px;
          .photo {
            width: 100%;
          }
        }
        .model-title {
          margin-bottom: 5px;
          .title {
            font-family: "Nissan Brand";
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
        }
        .model-subtitle {
          margin-bottom: 20px;
          .subtitle {
            font-family: "Nissan Brand";
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
        .model-price-title {
          .price-title {
            font-family: "Nissan Brand";
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            
            @include forMobile {
              font-size: 14px;
            }
          }
        }
        .model-price {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .price {
            font-family: "Nissan Brand";
            font-weight: 300;
            font-size: 24px;
            line-height: 27px;
            letter-spacing: 1px;
          }
          .price-text {
            font-family: "Nissan Brand";
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 1px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.section-inform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  .inform-wrap {
    .inform-list {
      margin-bottom: 100px;
      .inform-item {
        display: flex;
        margin-bottom: 60px;
        .inform-img {
          width: 50%;
          img {
            width: 100%;
          }
        }
        .inform-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 10px;
          width: 50%;
          padding: 0 40px;
          .inform-title {
            font-family: "Nissan Brand";
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 2px;
            margin-bottom: 5px;
            text-transform: uppercase;
          }
          .inform-text {
            font-family: "Nissan Brand";
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1px;
            margin-bottom: 20px;
          }
          .inform-more {
            font-family: "Nissan Brand";
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 2px;
            padding-bottom: 6px;
            border-bottom: 2px solid #000;
            color: #000;
            text-transform: uppercase;
          }
        }
      }
      .inform-item:nth-child(even) {
        flex-direction: row-reverse;
      }
      .inform-item:last-child {
        margin: 0;

        @include forMobile {
          margin: auto;
          margin-bottom: 60px !important;
        }
      }
    }
    .inform-description {
      font-family: "Nissan Brand";
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      text-align: justify;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 100px;
  background: #000;
  .footer-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    .footer-col {
      display: flex;
      flex-direction: column;

      &__title {
        font-family: "Nissan Brand";
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
        color: #fff;
      }

      .footer-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 30px;
        .footer-item {
          font-family: "Nissan Brand";
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          color: #fff;
          a {
            color: #ACACAC;
            transition: color .3s ease;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      &.footer-contact {
        width: 255px;

        .footer-social {
          &__list {
            display: flex;
            gap: 20px;
          }
          &__item {
            width: 24px;
            height: 24px;
            transition: opacity .3s ease;

            &:hover {
              opacity: 0.5;
            }

            &-icon {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
