.post-inner {
  margin-top: 60px;
  margin-bottom: 100px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
    
    @include forMobile {
      margin-bottom: 40px;
    }
  }
  
  .text {
    line-height: 150%;
  }

  .more-section {
    margin-top: 60px;
  }
}