.breadcrumbs {
  width: 100vw;
  background-color: #EAEAEA;
  padding: 12px 0;
  overflow: hidden;

  &-list {
    display: flex;
    align-items: center;
    gap: 20px;

    @include forMobile {
      flex-wrap: wrap;
    }
  }

  &__link {
    display: flex;
    gap: 20px;
    color: #666666;

    a {
      transition: color .3s ease;

      &:hover {
        color: #000;
      }
    }
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include forMobile {
      width: 70%;
    }
  }
}

.post-inner {
  margin-top: 60px;
  margin-bottom: 100px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
    
    @include forMobile {
      margin-bottom: 40px;
    }
  }
  
  .text {
    line-height: 150%;
  }

  .more-section {
    margin-top: 60px;
  }
}