@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.fz-10 {
  font-size: 10px !important;
}
.fz-11 {
  font-size: 11px !important;
}
.fz-12 {
  font-size: 12px !important;
}
.fz-13 {
  font-size: 13px !important;
}
.fz-14 {
  font-size: 14px !important;
}
.fz-15 {
  font-size: 15px !important;
}
.fz-16 {
  font-size: 16px !important;
}
.fz-17 {
  font-size: 17px !important;
}
.fz-18 {
  font-size: 18px !important;
}
.fz-19 {
  font-size: 19px !important;
}
.fz-20 {
  font-size: 20px !important;
}
.fz-21 {
  font-size: 21px !important;
}
.fz-22 {
  font-size: 22px !important;
}
.fz-23 {
  font-size: 23px !important;
}
.fz-24 {
  font-size: 24px !important;
}
.fz-25 {
  font-size: 25px !important;
}
.fz-26 {
  font-size: 26px !important;
}
.fz-27 {
  font-size: 27px !important;
}
.fz-28 {
  font-size: 28px !important;
}
.fz-29 {
  font-size: 29px !important;
}
.fz-30 {
  font-size: 30px !important;
}
.fz-31 {
  font-size: 31px !important;
}
.fz-32 {
  font-size: 32px !important;
}
.fz-33 {
  font-size: 33px !important;
}
.fz-34 {
  font-size: 34px !important;
}
.fz-35 {
  font-size: 35px !important;
}
.fz-36 {
  font-size: 36px !important;
}
.fz-37 {
  font-size: 37px !important;
}
.fz-38 {
  font-size: 38px !important;
}
.fz-39 {
  font-size: 39px !important;
}
.fz-40 {
  font-size: 40px !important;
}
.fz-41 {
  font-size: 41px !important;
}
.fz-42 {
  font-size: 42px !important;
}
.fz-43 {
  font-size: 43px !important;
}
.fz-44 {
  font-size: 44px !important;
}
.fz-45 {
  font-size: 45px !important;
}
.fz-46 {
  font-size: 46px !important;
}
.fz-47 {
  font-size: 47px !important;
}
.fz-48 {
  font-size: 48px !important;
}
.fz-49 {
  font-size: 49px !important;
}
.fz-50 {
  font-size: 50px !important;
}
.fz-51 {
  font-size: 51px !important;
}
.fz-52 {
  font-size: 52px !important;
}
.fz-53 {
  font-size: 53px !important;
}
.fz-54 {
  font-size: 54px !important;
}
.fz-55 {
  font-size: 55px !important;
}
.fz-56 {
  font-size: 56px !important;
}
.fz-57 {
  font-size: 57px !important;
}
.fz-58 {
  font-size: 58px !important;
}
.fz-59 {
  font-size: 59px !important;
}
.fz-60 {
  font-size: 60px !important;
}
.fz-61 {
  font-size: 61px !important;
}
.fz-62 {
  font-size: 62px !important;
}
.fz-63 {
  font-size: 63px !important;
}
.fz-64 {
  font-size: 64px !important;
}
.fz-65 {
  font-size: 65px !important;
}
.fz-66 {
  font-size: 66px !important;
}
.fz-67 {
  font-size: 67px !important;
}
.fz-68 {
  font-size: 68px !important;
}
.fz-69 {
  font-size: 69px !important;
}
.fz-70 {
  font-size: 70px !important;
}
.fz-71 {
  font-size: 71px !important;
}
.fz-72 {
  font-size: 72px !important;
}
.fz-73 {
  font-size: 73px !important;
}
.fz-74 {
  font-size: 74px !important;
}
.fz-75 {
  font-size: 75px !important;
}
.fz-76 {
  font-size: 76px !important;
}
.fz-77 {
  font-size: 77px !important;
}
.fz-78 {
  font-size: 78px !important;
}
.fz-79 {
  font-size: 79px !important;
}
.fz-80 {
  font-size: 80px !important;
}
.fz-81 {
  font-size: 81px !important;
}
.fz-82 {
  font-size: 82px !important;
}
.fz-83 {
  font-size: 83px !important;
}
.fz-84 {
  font-size: 84px !important;
}
.fz-85 {
  font-size: 85px !important;
}
.fz-86 {
  font-size: 86px !important;
}
.fz-87 {
  font-size: 87px !important;
}
.fz-88 {
  font-size: 88px !important;
}
.fz-89 {
  font-size: 89px !important;
}
.fz-90 {
  font-size: 90px !important;
}
.fz-91 {
  font-size: 91px !important;
}
.fz-92 {
  font-size: 92px !important;
}
.fz-93 {
  font-size: 93px !important;
}
.fz-94 {
  font-size: 94px !important;
}
.fz-95 {
  font-size: 95px !important;
}
.fz-96 {
  font-size: 96px !important;
}
.fz-97 {
  font-size: 97px !important;
}
.fz-98 {
  font-size: 98px !important;
}
.fz-99 {
  font-size: 99px !important;
}
.fz-100 {
  font-size: 100px !important;
}
@media screen and (max-width: 767px) {
  .fz--mobile-10 {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-11 {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-12 {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-13 {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-14 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-15 {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-16 {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-17 {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-18 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-19 {
    font-size: 19px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-20 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-21 {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-22 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-23 {
    font-size: 23px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-24 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-25 {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-26 {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-27 {
    font-size: 27px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-28 {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-29 {
    font-size: 29px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-30 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-31 {
    font-size: 31px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-32 {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-33 {
    font-size: 33px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-34 {
    font-size: 34px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-35 {
    font-size: 35px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-36 {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-37 {
    font-size: 37px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-38 {
    font-size: 38px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-39 {
    font-size: 39px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-40 {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-41 {
    font-size: 41px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-42 {
    font-size: 42px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-43 {
    font-size: 43px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-44 {
    font-size: 44px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-45 {
    font-size: 45px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-46 {
    font-size: 46px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-47 {
    font-size: 47px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-48 {
    font-size: 48px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-49 {
    font-size: 49px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-50 {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-51 {
    font-size: 51px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-52 {
    font-size: 52px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-53 {
    font-size: 53px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-54 {
    font-size: 54px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-55 {
    font-size: 55px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-56 {
    font-size: 56px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-57 {
    font-size: 57px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-58 {
    font-size: 58px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-59 {
    font-size: 59px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-60 {
    font-size: 60px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-61 {
    font-size: 61px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-62 {
    font-size: 62px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-63 {
    font-size: 63px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-64 {
    font-size: 64px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-65 {
    font-size: 65px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-66 {
    font-size: 66px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-67 {
    font-size: 67px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-68 {
    font-size: 68px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-69 {
    font-size: 69px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-70 {
    font-size: 70px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-71 {
    font-size: 71px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-72 {
    font-size: 72px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-73 {
    font-size: 73px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-74 {
    font-size: 74px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-75 {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-76 {
    font-size: 76px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-77 {
    font-size: 77px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-78 {
    font-size: 78px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-79 {
    font-size: 79px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-80 {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-81 {
    font-size: 81px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-82 {
    font-size: 82px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-83 {
    font-size: 83px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-84 {
    font-size: 84px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-85 {
    font-size: 85px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-86 {
    font-size: 86px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-87 {
    font-size: 87px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-88 {
    font-size: 88px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-89 {
    font-size: 89px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-90 {
    font-size: 90px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-91 {
    font-size: 91px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-92 {
    font-size: 92px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-93 {
    font-size: 93px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-94 {
    font-size: 94px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-95 {
    font-size: 95px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-96 {
    font-size: 96px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-97 {
    font-size: 97px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-98 {
    font-size: 98px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-99 {
    font-size: 99px !important;
  }
}
@media screen and (max-width: 767px) {
  .fz--mobile-100 {
    font-size: 100px !important;
  }
}

.main-section {
  padding-top: 20%;
  background-size: cover;
}
.main-section .car-info-wrap {
  padding: 0 80px 50px;
  display: flex;
}
.main-section .car-info-wrap .car-info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5019607843);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main-section .car-info-wrap .car-info .car-info-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main-section .car-info-wrap .car-info .car-info-subtitle {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.main-section .model-more-btn {
  margin-bottom: 10px;
  width: fit-content;
}
.main-section .model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: fit-content;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  transition-duration: 0.3s;
}
.main-section .model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section .model-more-btn .more-btn span svg path {
  color: #000;
  transition-duration: 0.3s;
}
.main-section .model-more-btn:hover .more-btn {
  border: 1px solid #666666;
  color: #666666;
  transition-duration: 0.3s;
}
.main-section .model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section .model-more-btn:hover .more-btn span svg path {
  transition-duration: 0.3s;
  color: #666666;
}

.main-section:nth-child(2n) .car-info {
  background: none;
  backdrop-filter: none;
}
.main-section:nth-child(2n) .car-info .car-info-title,
.main-section:nth-child(2n) .car-info .car-info-subtitle {
  color: #fff;
}
.main-section:nth-child(2n) .model-more-btn {
  margin-bottom: 10px;
}
.main-section:nth-child(2n) .model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: fit-content;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n) .model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section:nth-child(2n) .model-more-btn .more-btn span svg path {
  color: #fff;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n) .model-more-btn:hover .more-btn {
  background-color: #fff;
  color: #000;
  transition-duration: 0.3s;
}
.main-section:nth-child(2n) .model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.main-section:nth-child(2n) .model-more-btn:hover .more-btn span svg path {
  transition-duration: 0.3s;
  color: #000 !important;
}

.section-model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.section-model .model-wrap {
  max-width: 75%;
}
.section-model .model-wrap .section-title {
  margin-bottom: 60px;
}
.section-model .model-wrap .section-title .title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
}
.section-model .model-wrap .model-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.section-model .model-wrap .model-list .model-item .model-photo {
  width: 100%;
  margin-bottom: 20px;
}
.section-model .model-wrap .model-list .model-item .model-photo .photo {
  width: 100%;
}
.section-model .model-wrap .model-list .model-item .model-title {
  margin-bottom: 5px;
}
.section-model .model-wrap .model-list .model-item .model-title .title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-subtitle {
  margin-bottom: 15px;
}
.section-model .model-wrap .model-list .model-item .model-subtitle .subtitle {
  font-family: "Nissan Brand";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-price-title .price-title {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.section-model .model-wrap .model-list .model-item .model-price {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-model .model-wrap .model-list .model-item .model-price .price {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1px;
}
.section-model .model-wrap .model-list .model-item .model-price .price-text {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.section-inform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.section-inform .inform-wrap {
  width: 75%;
}
.section-inform .inform-wrap .inform-list {
  margin-bottom: 100px;
}
.section-inform .inform-wrap .inform-list .inform-item {
  display: flex;
  margin-bottom: 60px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-img {
  width: 50%;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-img img {
  width: 100%;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  padding: 0 40px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-text {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-more {
  font-family: "Nissan Brand";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
  color: #000;
  text-transform: uppercase;
}
.section-inform .inform-wrap .inform-list .inform-item:nth-child(even) {
  flex-direction: row-reverse;
}
.section-inform .inform-wrap .inform-list .inform-item:last-child {
  margin: 0;
}
.section-inform .inform-wrap .inform-description {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 100px;
  background: #000;
}
.footer .footer-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}
.footer .footer-wrap .footer-col {
  display: flex;
  flex-direction: column;
}
.footer .footer-wrap .footer-col__title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.footer .footer-wrap .footer-col .footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}
.footer .footer-wrap .footer-col .footer-list .footer-item {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.footer .footer-wrap .footer-col .footer-list .footer-item a {
  color: #fff;
}
.footer .footer-wrap .footer-col.footer-contact {
  width: 250px;
}
.footer .footer-wrap .footer-col.footer-contact .footer-social__list {
  display: flex;
  gap: 20px;
}
.footer .footer-wrap .footer-col.footer-contact .footer-social__item {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}
.footer .footer-wrap .footer-col.footer-contact .footer-social__item:hover {
  opacity: 0.5;
}
.footer .footer-wrap .footer-col.footer-contact .footer-social__item-icon {
  width: 100%;
  height: 100%;
}

.offers {
  margin: 40px auto 100px;
  width: 1170px;
}
@media screen and (max-width: 767px) {
  .offers {
    margin: 40px 16px 100px;
    width: auto;
  }
}
.offers__title {
  font-size: 42px;
  text-align: center;
}
.offers .cards-wrapper {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (max-width: 767px) {
  .offers .cards-wrapper {
    gap: 60px;
  }
}
.offers .cards-wrapper .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 358px;
}
.offers .cards-wrapper .card .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offers .cards-wrapper .card .features {
  margin-top: 10px;
}
.offers .cards-wrapper .card .features__item {
  list-style: disc;
  list-style-position: outside;
  padding: 4px 0;
  margin-left: 20px;
}
.offers .cards-wrapper .card .buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.offers .cards-wrapper .card .buttons-wrapper .button {
  width: fit-content;
}
.offers .postscript {
  margin-top: 60px;
  line-height: 130%;
  text-align: justify;
}

.button .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  transition-duration: 0.3s;
}
.button .more-btn span svg {
  width: 100%;
  height: 100%;
}
.button .more-btn span svg path {
  transition-duration: 0.3s;
}
.button:hover .more-btn {
  border: 1px solid #666666;
  color: #666666;
  transition-duration: 0.3s;
}
.button:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.button:hover .more-btn span svg path::before {
  transition-duration: 0.3s;
  color: #666666;
}
.button--white {
  background-color: #fff;
  color: #000;
}
.button--white:hover .more-btn {
  background-color: #000;
  color: #fff;
  transition-duration: 0.3s;
}
.button--white:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.button--white:hover .more-btn span svg path {
  transition-duration: 0.3s;
  color: #fff !important;
}

.header-main {
  width: 100%;
}
.header-main .nav-submenu__wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  background: #000;
}
.header-main .nav-submenu__wrap .nav-submenu-inform {
  display: flex;
}
.header-main .nav-submenu__wrap .nav-submenu-inform .nav-submenu-text {
  font-family: "Nissan Brand";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.header-main .nav-submenu__wrap .nav-submenu-inform a.nav-inform-link {
  color: #fff;
  font-weight: 700;
}
.header-main .nav-submenu__wrap .nav-submenu-inform .nav-submenu-inform-phone {
  margin-right: 15px;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list {
  display: flex;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item {
  margin-right: 10px;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item a {
  font-family: "Nissan Brand";
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.header-main .nav-submenu__wrap .nav-submenu .nav-submenu__list .nav-submenu__item:last-child {
  margin: 0;
}
.header-main .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}
.header-main .main-menu-black {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 49.91%, #000000 100%);
  color: #fff;
}
.header-main .main-menu .menu-inform {
  display: flex;
}
.header-main .main-menu .menu-inform .menu-left {
  display: flex;
  flex-direction: column;
}
.header-main .main-menu .menu-inform .menu-left .menu-link {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.header-main .main-menu .menu-inform .menu-inform-logo {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.header-main .main-menu .menu-inform .menu-inform-title {
  font-family: "Nissan Brand";
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  width: 50%;
}
.header-main .main-menu .menu-pages {
  position: relative;
}
.header-main .main-menu .menu-pages .menu-list {
  display: flex;
}
.header-main .main-menu .menu-pages .menu-list .menu-item {
  margin-right: 15px;
}
.header-main .main-menu .menu-pages .menu-list .menu-item a {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list {
  position: absolute;
  top: 20%;
  left: 0;
  display: none;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
  gap: 15px;
  width: fit-content;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item {
  list-style: none;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item a {
  font-family: "Nissan Brand";
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.header-main .main-menu .menu-pages .menu-list .menu-item .submenu-list .submenu-item a::after {
  content: "›";
  font-family: "Courier New";
  font-size: 24px;
  margin-left: 10px;
}
.header-main .main-menu .menu-pages .menu-list .menu-item:last-child {
  margin: 0;
}
.header-main .design-menu {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .design-menu .menu-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.header-main .design-menu .menu-list .menu-item {
  padding: 12px 0;
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.header-main .design-menu .menu-list .menu-item a {
  color: #000;
}
.header-main .design-menu .menu-list .active::before {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.9em;
  height: 15%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #c3002f;
}
.header-main .design-menu .menu-list .active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  height: 3px;
  background: #c3002f;
  transform: translateY(-100%);
}

.mobile-design-menu {
  display: none;
}
.mobile-design-menu-active .head-icon {
  rotate: 180deg;
}
.mobile-design-menu-active .menu-list {
  height: auto !important;
  padding: 16px !important;
  border-bottom: 1px solid #d9d9d9;
  clip-path: inset(0 0% 0% 0) !important;
  pointer-events: all;
}
.mobile-design-menu-active .menu-list .menu-item {
  padding: 10px 0;
}
.mobile-design-menu .head {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px 12px 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.mobile-design-menu .head-title {
  font-size: 16px;
  font-weight: bold;
}
.mobile-design-menu .head-icon {
  transition: rotate 0.3s ease-in-out;
}
.mobile-design-menu .menu-list {
  display: flex;
  flex-direction: column;
  padding: 16px !important;
  overflow: hidden;
  pointer-events: none;
  clip-path: inset(0 0% 100% 0);
  transition: clip-path 0.3s ease-in-out;
  position: absolute;
  background: white;
  left: 0;
  right: 0;
}
.mobile-design-menu .menu-list .menu-item {
  font-size: 14px;
  padding: 10px 0;
}

.header-mobile {
  display: none;
  color: #000;
}
.header-mobile--active {
  color: #000 !important;
  background: #fff !important;
}
.header-mobile--active.header-mobile-black .main-menu-black {
  color: #000;
}
.header-mobile--active.header-mobile-black .menu-inform-logo {
  filter: invert(1);
}
.header-mobile-black {
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 12%, #000000 29%);
}
.header-mobile-black .menu-button-icon--closed {
  filter: invert(1);
}
.header-mobile .main-menu {
  padding: 16px 16px 30px;
  background: none;
}
.header-mobile .main-menu .menu-inform {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-mobile .main-menu .menu-inform-logo {
  margin-right: 12px !important;
}
.header-mobile .main-menu .menu-inform-title {
  font-size: 16px !important;
  line-height: 100% !important;
  width: 180px !important;
}
.header-mobile .main-menu .menu-button {
  position: relative;
  width: 40px;
  height: 33px;
}
.header-mobile .main-menu .menu-button-icon {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}
.header-mobile .main-menu .menu-button-icon--closed {
  opacity: 1;
}
.header-mobile .main-menu .menu-button-icon--opened {
  opacity: 0;
}
.header-mobile .main-menu .menu-button--active .menu-button-icon--closed {
  opacity: 0;
}
.header-mobile .main-menu .menu-button--active .menu-button-icon--opened {
  opacity: 1;
}
.header-mobile .nav-body {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  inset: 78px 0 0;
  z-index: 100;
  background-color: #fff;
  overflow: scroll;
  opacity: 0;
  min-height: calc(100vh - 78px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.header-mobile .nav-body--active {
  pointer-events: all;
  opacity: 1;
}
.header-mobile .nav-body .main-list {
  display: flex;
  flex-direction: column;
}
.header-mobile .nav-body .main-list .dropdown-item {
  padding: 14px 30px 12px 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.header-mobile .nav-body .main-list .dropdown-item .dropdown-body {
  height: 0;
  opacity: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.header-mobile .nav-body .main-list .dropdown-item .dropdown-body .inner-dropdow .inner-body {
  padding: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
.header-mobile .nav-body .main-list .dropdown-item .dropdown-body .inner-dropdow--active .inner-head-icon {
  rotate: 180deg;
}
.header-mobile .nav-body .main-list .dropdown-item .dropdown-body .inner-dropdow--active .inner-body {
  display: flex !important;
  height: 100%;
  opacity: 1;
  padding: 10px 5px !important;
}
.header-mobile .nav-body .main-list .dropdown-item--active .head-icon {
  rotate: 180deg;
}
.header-mobile .nav-body .main-list .dropdown-item--active .dropdown-body {
  height: 100%;
  opacity: 1;
}
.header-mobile .nav-body .main-list .dropdown-item .head {
  display: flex;
  justify-content: space-between;
}
.header-mobile .nav-body .main-list .dropdown-item .head-icon {
  transition: rotate 0.3s ease-in-out;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list {
  padding: 10px 0;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .inner-head {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .inner-head-icon {
  transition: rotate 0.3s ease-in-out;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .inner-body {
  display: flex;
  flex-direction: column;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .images-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 22px;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .images-list .image-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .images-list .image-item__image {
  width: 100%;
}
.header-mobile .nav-body .main-list .dropdown-item .inner-list .inner-dropdow .list-link__item {
  padding: 5px 0;
}
.header-mobile .nav-body .main-list .closed {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.header-mobile .nav-body .link-list {
  display: flex;
  flex-direction: column;
  padding: 6px 16px;
  background-color: #d9d9d9;
}
.header-mobile .nav-body .link-list__item {
  padding: 10px 0;
}
.header-mobile .nav-body .menu-footer {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
.header-mobile .nav-body .menu-footer .socials {
  display: flex;
  justify-content: space-between;
}
.header-mobile .nav-body .menu-footer .socials_link {
  width: 40px;
  height: 40px;
}
.header-mobile .nav-body .menu-footer .socials_link-icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header-main {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .mobile-design-menu {
    display: block;
  }
}
body {
  font-family: "Nissan Brand";
  font-weight: 400;
  overflow-x: clip;
}
@media screen and (max-width: 767px) {
  body.overflow-hidden {
    overflow: hidden !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.upperCase {
  text-transform: uppercase;
}

.light {
  font-weight: 300;
}

.red {
  color: #C3002F;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.footer-col__icon,
.car-info-mobile__image {
  display: none;
}

.model-more-btn .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
  background: none;
  border-radius: 40px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  transition-duration: 0.3s;
}
.model-more-btn .more-btn span svg {
  width: 100%;
  height: 100%;
}
.model-more-btn .more-btn span svg path {
  transition-duration: 0.3s;
}

.model-more-btn:hover .more-btn {
  border: 1px solid #666666;
  color: #666666;
  transition-duration: 0.3s;
}
.model-more-btn:hover .more-btn span svg {
  width: 100%;
  height: 100%;
}
.model-more-btn:hover .more-btn span svg path::before {
  transition-duration: 0.3s;
  color: #666666;
}

.model-more-btn-price .more-btn {
  display: block;
  padding: 15px;
  width: 100%;
  background: #000;
  border-radius: 40px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.model-more-btn-price:hover .more-btn {
  background: none;
  color: #000;
  transition-duration: 0.3s;
}

.active {
  display: flex !important;
  flex-direction: column !important;
}

/**********************HOME PAGE***********************/
/**********************DESIGN PAGE***********************/
.main-design-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main-design-section .main-title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 0;
}
.main-design-section .main-title-wrapper h1 {
  font-size: 48px;
  line-height: 100%;
}
.main-design-section .main-title-wrapper h2 {
  font-size: 14px;
  line-height: 18px;
}
.main-design-section .main-wrap {
  width: 70%;
}
.main-design-section .main-wrap .main-under-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 80%;
  text-transform: uppercase;
}
.main-design-section .main-wrap .main-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 42px;
  line-height: 110%;
  margin-bottom: 20px;
}
.main-design-section .main-wrap .main-description {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.main-design-section .main-img {
  width: 100vw;
  height: auto;
}
.main-design-section .main-img img {
  width: 100%;
  object-fit: cover;
}

.slider-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .slider-section {
    width: 100% !important;
  }
}
.slider-section .slider-wrap {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
  height: 500px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.slider-section .slider-wrap .slider-list {
  width: 60%;
  height: 100% !important;
}
.slider-section .slider-wrap .slider-list .slick-list.draggable {
  height: 100% !important;
}
.slider-section .slider-wrap .slider-list .slick-list.draggable .slick-track {
  height: 100%;
}
.slider-section .slider-wrap .slider-prev {
  width: 40%;
  height: 100% !important;
  opacity: 0.5;
}
.slider-section .slider-wrap .slider-prev .slick-list.draggable {
  height: 100% !important;
}
.slider-section .slider-wrap .slider-prev .slick-list.draggable .slick-track {
  height: 100%;
}
.slider-section .slider-wrap .slide {
  height: 100% !important;
}
.slider-section .slider-wrap .slide .slide-img {
  width: 100% !important;
  height: 100% !important;
}
.slider-section .slider-wrap .slick-prev::before,
.slider-section .slider-wrap .slick-next::before {
  display: none;
}
.slider-section .slider-wrap .slick-next.slick-arrow {
  width: 100%;
}
.slider-section .slider-wrap .slick-prev.slick-arrow {
  width: 100%;
}
.slider-section .slider-wrap .slick-prev,
.slider-section .slider-wrap .slick-next {
  top: 110%;
}
.slider-section .slider-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.slider-section .slider-row .slider-col {
  width: 50%;
}
.slider-section .slider-row .slider-col .slide-info {
  text-align: start;
  margin-top: 10px;
}
.slider-section .slider-row .slider-col .slide-info .slider-current {
  display: flex;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.slider-section .slider-row .slider-col .slide-info .current-slide,
.slider-section .slider-row .slider-col .slide-info .total-slides {
  color: #000;
}
.slider-section .slider-row .slider-col .slide-info .slide-text {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.slider-section .slider-row .slider-col .slider-dots {
  position: relative;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots {
  display: flex;
  gap: 20px;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots .slick-active .dots-line {
  background-color: #000;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots li {
  width: 90px;
  height: 2px;
}
.slider-section .slider-row .slider-col .slider-dots .slick-dots li .dots-line {
  width: 100%;
  height: 100%;
  background-color: #acacac;
  transition: background-color 0.3s ease;
}
.slider-section .slider-row .slider-col .slider-arrow {
  position: relative;
}
.slider-section .slider-row .slider-col .slider-arrow .slick-prev {
  left: 80%;
}
.slider-section .slider-row .slider-col .slider-arrow .slick-next {
  right: 5%;
}

.personal-inform, .universal-inform {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inform-margin {
  margin-bottom: 80px;
}

.description-inform {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
}

.head-inform {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 42px;
  line-height: 48px;
}

.head-inform-img {
  width: 100%;
}

.row-inform {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.row-inform .col-inform {
  width: 48%;
  display: flex;
  align-items: center;
}
.row-inform .col-inform.col-first-paddind {
  padding-right: 10%;
}
@media screen and (max-width: 767px) {
  .row-inform .col-inform.col-first-paddind {
    padding-right: 0;
  }
}
.row-inform .col-inform > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row-inform .col-center {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.sub-title-inform {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  padding: 75px 0;
}

.sub-title {
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}

.row-revers {
  flex-direction: row-reverse;
}

.connect-section .head-inform {
  margin-bottom: 40px;
}
.connect-section img {
  width: 100%;
  margin-bottom: 80px;
}
.connect-section .blog-list {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.connect-section .blog-list .blog-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
}
.connect-section .blog-list .blog-item .blog-img__wrap {
  margin-bottom: 20px;
}
.connect-section .blog-list .blog-item .blog-img__wrap .blog-img {
  margin: 0;
}
.connect-section .blog-list .blog-item .blog-title {
  margin-bottom: 10px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.connect-section .blog-list .blog-item .blog-description {
  margin-bottom: 20px;
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  flex: 1 1 auto;
}

.mobility-section .head-inform {
  margin-bottom: 40px;
}
.mobility-section .blog-list {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.mobility-section .blog-list .blog-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.mobility-section .blog-list .blog-item .blog-img__wrap {
  margin-bottom: 20px;
  width: 100%;
}
.mobility-section .blog-list .blog-item .blog-img__wrap .blog-img {
  margin: 0;
  width: 100%;
}
.mobility-section .blog-list .blog-item .blog-title {
  margin-bottom: 10px;
  font-family: "Nissan Brand";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.mobility-section .blog-list .blog-item .blog-description {
  margin-bottom: 20px;
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  flex: 1 1 auto;
}

.personal-section {
  margin-bottom: 80px;
}
.personal-section .head-inform {
  margin-bottom: 40px;
}

.more-section {
  margin-bottom: 80px;
}
.more-section .more-title {
  font-family: "Nissan Brand";
  font-weight: 300;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.more-section .more-btn-groupe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.more-section .description-inform {
  text-align: justify;
}

@media (max-width: 767px) {
  .main-design-section {
    margin-bottom: 60px;
  }
  .main-design-section .main-wrap {
    width: 100%;
    margin-right: 0;
    padding: 0 16px;
  }
  .main-title {
    font-size: 32px !important;
    line-height: 110% !important;
  }
  .main-section__second .more-btn {
    color: #000 !important;
    border: 1px solid #000 !important;
  }
  .main-section__second .more-btn svg {
    color: #000 !important;
  }
  .main-section {
    background: none !important;
    padding: 0;
    width: 100%;
  }
  .main-section #main-section-first__img {
    background: url("/assets/img/qashqai1.png") 0 0/100% 100% no-repeat;
  }
  .main-section #main-section-second__img {
    background: url("/assets/img/qashqai2.png") 0 0/100% 100% no-repeat;
  }
  .main-section .car-info-mobile__image {
    display: block;
    width: 100%;
    height: 300px;
    background: url("/assets/img/juke.png") 0 0/100% 100% no-repeat;
  }
  .main-section .car-info-title, .main-section .car-info-subtitle {
    color: #000 !important;
  }
  .main-section .car-info .model-more-btn .more-btn {
    color: #000;
    border: 1px solid #000;
  }
  .main-section .car-info .model-more-btn .more-btn span svg {
    width: 100%;
    height: 100%;
  }
  .main-section .car-info .model-more-btn .more-btn span svg path {
    color: #000;
    transition-duration: 0.3s;
  }
  .main-section .car-info-wrap {
    width: 100%;
    padding: 0;
  }
  .main-section .car-info-wrap .car-info {
    width: 100%;
    background: none;
    backdrop-filter: none;
  }
  .section-model {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
    justify-content: center;
  }
  .section-model .model-wrap {
    max-width: 90%;
  }
  .section-model .model-wrap .section-title .title {
    font-size: 32px;
    text-align: center;
  }
  .section-model .model-wrap .model-list {
    display: flex;
    flex-direction: column;
  }
  .section-model .model-wrap .model-list .model-item .model-price {
    display: flex;
    flex-direction: column;
  }
  .section-model .model-wrap .model-list .model-item .model-price .price {
    color: #c3002f;
  }
  .section-model .model-wrap .model-list .model-item .model-price .price-text {
    margin-top: 5%;
  }
  .slider-section .slider-list {
    display: none;
  }
  .slider-section .slider-wrap {
    width: 100vw;
    height: 200px;
  }
  .slider-section .slider-wrap .slider-prev {
    opacity: 1;
    width: 100%;
  }
  .slider-section .slider-wrap .slider-prev .slide {
    width: 320px;
    margin: 0 5px;
  }
  .slider-section .slider-arrow {
    display: none;
  }
  .slider-section .slider-row {
    width: 100%;
    padding: 0 26px;
  }
  .slider-section .slider-row .slider-col {
    width: 100% !important;
  }
  .slider-section .slider-row .slider-col:nth-of-type(2) {
    display: none;
  }
  .slider-section .slick-dots {
    gap: 0 !important;
  }
  .section-inform {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
  }
  .section-inform .inform-wrap {
    max-width: 90%;
    width: 100%;
  }
  .section-inform .inform-wrap .inform-list {
    margin-bottom: 15%;
  }
  .section-inform .inform-wrap .inform-list .inform-item,
  .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) {
    flex-direction: column;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-img,
  .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-img {
    order: 1;
    width: 100%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content,
  .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content {
    order: 2;
    width: 100%;
    padding: 0;
    margin-top: 5%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-text,
  .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content .inform-text {
    font-size: 14px;
    margin-bottom: 5%;
  }
  .section-inform .inform-wrap .inform-list .inform-item .inform-content .inform-title,
  .section-inform .inform-wrap .inform-list .inform-item:nth-child(even) .inform-content .inform-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400px;
  }
  .row-inform {
    flex-direction: column;
    margin-top: 40px;
    gap: 24px;
  }
  .row-inform .col-inform {
    width: 100% !important;
  }
  .row-inform .col-inform .sub-title-inform,
  .row-inform .col-inform .sub-title {
    padding: 0;
  }
  .head-inform {
    font-size: 32px;
    line-height: 120%;
  }
  .head-inform-img {
    margin-bottom: 24px;
  }
  .blog-list {
    display: flex !important;
    flex-direction: column;
  }
  .mobility-section .head-inform,
  .mobility-section .inform-wrap {
    width: 100% !important;
    padding: 0 16px;
  }
  .more-section {
    width: 100% !important;
    padding: 0 16px;
  }
  .more-section .more-btn-groupe {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer {
    width: 100%;
    padding: 0;
  }
  .footer .footer-wrap {
    max-width: 100%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footer .footer-wrap .footer-col {
    position: relative;
    border-bottom: 1px solid #fff;
    align-items: start;
    padding: 0 5%;
    margin-bottom: 5%;
  }
  .footer .footer-wrap .footer-col .footer-col__title {
    text-transform: uppercase;
    font-size: 16px;
  }
  .footer .footer-wrap .footer-col .footer-list {
    display: none;
  }
  .footer .footer-wrap .footer-col .footer-list .footer-item {
    margin-bottom: 10%;
    font-size: 14px;
  }
  .footer .footer-wrap .footer-col .footer-list .footer-item:last-child {
    margin-bottom: 0;
  }
  .footer .footer-wrap .footer-col .footer-col__icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 3%;
    transform: rotate(180deg);
    transition: 0.5s;
  }
  .footer .footer-wrap .footer-col:last-child {
    margin-top: 10%;
    border: none;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list {
    display: block;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list .footer-item:first-child {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-wrap .footer-col:last-child .footer-list .footer-item:last-child {
    display: none;
  }
  .footer .footer-wrap .footer-col:last-child .footer-social {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
