@import "_nullstyle.scss";

@import "./utils/font-sizes.scss";
@import "./utils/mixins.scss";

@import "./pages/home.scss";
@import "./pages/design.scss";
@import "./pages/offers.scss";
@import "./pages/prices.scss";
@import "./pages/posts.scss";
@import "./pages/postInner.scss";
@import "./pages/finance-offers.scss";
@import "./pages/modelDetails.scss";
@import "./pages/cars-shop.scss";
@import "./pages/shopInner.scss";
@import "./pages/pricesOffers.scss";
@import "./pages/services.scss";
@import "./pages/contact-us.scss";

@import "./components/item-page.scss";
@import "./components/button.scss";
@import "./components/header.scss";
@import "./components/dropdown.scss";
@import "./components/filter.scss";
@import "./components/breadcrumbs.scss";
@import "./components/form.scss";
@import "./components/modelMenu.scss";

body {
  font-family: "Nissan Brand";
  font-weight: 400;
  overflow-x: clip;

  &.overflow-hidden {
    @include forMobile {
      overflow: hidden !important;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.upperCase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.lh-150 {
  line-height: 150%;
}

.justify {
  text-align: justify;
}

.mobile-hiden {
  @include forMobile {
    display: none !important;
  }
}

.mobile-only {
  display: none;

  @include forMobile {
    display: block;
  }
}

.red {
  color: #c3002f;
}

.shadow {
  color: #666666;
}

.list-styles {
  list-style: disc;
  list-style-position: outside;
  padding: 4px 0;
  margin-left: 20px;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @include forMobile {
    width: 90%;
  }

  &--small {
    width: 60%;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;

    @include forMobile {
      width: 90%;
    }
  }
}

.hover-link-opacity {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.footer-col__icon,
.car-info-mobile__image {
  display: none;
}

.model-more-btn {
  .more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    width: 100%;
    background: none;
    border-radius: 40px;
    font-family: "Nissan Brand";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000;
    transition-duration: 0.3s;
    span {
      svg {
        width: 100%;
        height: 100%;
        path {
          transition-duration: 0.3s;
        }
      }
    }
  }
}
.model-more-btn:hover {
  .more-btn {
    border: 1px solid #666666;
    color: #666666;
    transition-duration: 0.3s;
    span {
      svg {
        width: 100%;
        height: 100%;
        path::before {
          transition-duration: 0.3s;
          color: #666666;
        }
      }
    }
  }
}

.model-more-btn-price {
  .more-btn {
    display: block;
    padding: 15px 30px;
    width: 100%;
    background: #000;
    border-radius: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    transition-duration: 0.3s;
  }
}
.model-more-btn-price:hover {
  .more-btn {
    background: none;
    color: #000;
    transition-duration: 0.3s;
  }
}

.active {
  display: flex !important;
  flex-direction: column !important;
}
/**********************HOME PAGE***********************/

.footer-menu-mobile {
  display: none;
}

.more-section {
  margin-bottom: 80px;
  .more-title {
    font-family: "Nissan Brand";
    font-weight: 300;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;

    @include forMobile {
      font-size: 28px;
    }
  }
  .more-btn-groupe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .description-inform {
    text-align: justify;
    line-height: 150%;
    font-weight: 300;
  }

  @include forMobile {
    width: 100% !important;
    padding: 0 16px;

    .more-btn-groupe {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.slider-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 100px;
  
  @include forMobile {
    margin-bottom: 40px;
    width: 100% !important;
  }
  .slider-wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 20px;
    height: 500px;
    padding-bottom: 30px;
    margin: 0 auto;

    @include forMobile {
      margin: 0 auto;
    }

    .slider-prev {
      width: 100%;
      height: 100% !important;
      .slick-list.draggable {
        height: 100% !important;
        .slick-track {
          height: 100%;
        }
      }
    }
    .slide {
      margin: 0 10px;
      opacity: 0.4;
      transition: opacity 0.3s ease;

      @include forDesktop {
        height: 100% !important;
        width: 762px !important;
      }

      .slide-img {
        width: 100% !important;
        height: 100% !important;
      }

      &.slick-active.slick-current {
        opacity: 1;
      }
    }
    .slick-prev::before,
    .slick-next::before {
      display: none;
    }
    .slick-next.slick-arrow {
      width: 100%;
    }
    .slick-prev.slick-arrow {
      width: 100%;
    }
    .slick-prev,
    .slick-next {
      top: 110%;
    }
  }
  .slider-row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    .slider-col {
      width: 50%;
      .slide-info {
        text-align: start;
        .slider-current {
          display: flex;
          font-family: "Nissan Brand";
          font-weight: 400;
          font-size: 25px;
          line-height: 34px;
          letter-spacing: 1px;
          margin-bottom: 20px;
        }
        .current-slide,
        .total-slides {
          color: #000;
        }
        .slide-text {
          font-family: "Nissan Brand";
          font-weight: 300;
          font-size: 15px;
          line-height: 26px;
          letter-spacing: 1px;
          margin-bottom: 10px;
        }
      }
      .slider-dots {
        position: relative;
        .slick-dots {
          display: flex;
          gap: 20px;
          .slick-active {
            .dots-line {
              background-color: #000;
            }
          }
          li {
            width: 90px;
            height: 2px;
            .dots-line {
              width: 100%;
              height: 100%;
              background-color: #acacac;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
      .slider-arrow {
        position: relative;
        .slick-prev {
          left: 80%;
        }
        .slick-next {
          right: 5%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-design-section {
    margin-bottom: 60px;
    .main-wrap {
      width: 100%;
      margin-right: 0;
      // padding: 0 16px;
    }
  }

  .main-title {
    font-size: 32px !important;
    line-height: 110% !important;
  }

  .main-section__second {
    .more-btn {
      color: #000 !important;
      border: 1px solid #000 !important;
      svg {
        color: #000 !important;
      }
    }
  }

  .main-section {
    background: none !important;
    padding: 0;
    width: 100%;
    #main-section-first__img {
      background: url("/assets/img/qashqai1.png") 0 0 / 100% 100% no-repeat;
    }
    #main-section-second__img {
      background: url("/assets/img/qashqai2.png") 0 0 / 100% 100% no-repeat;
    }
    .car-info {
      &-mobile__image {
        display: block;
        width: 100%;
        height: 300px;
        background: url("/assets/img/juke.png") 0 0 / 100% 100% no-repeat;
      }
      &-title,
      &-subtitle {
        color: #000 !important;
      }

      .model-more-btn {
        .more-btn {
          color: #000;
          border: 1px solid #000;

          span {
            svg {
              width: 100%;
              height: 100%;
              path {
                color: #000;
                transition-duration: 0.3s;
              }
            }
          }
        }
      }
    }
    .car-info-wrap {
      width: 100%;
      padding: 0;
      .car-info {
        width: 100%;
        background: none;
        backdrop-filter: none;
      }
    }
  }

  .section-model {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
    justify-content: center;
    margin-top: 80px;
    .model-wrap {
      max-width: 90%;
      .section-title {
        .title {
          font-size: 32px;
          // text-align: center;
        }
      }

      .model-list {
        display: flex;
        flex-direction: column;
        .model-item {
          .model-price {
            display: flex;
            flex-direction: column;
            .price {
              color: #c3002f;
            }
            .price-text {
              margin-top: 5%;
              text-transform: none;
              @include forMobile {
                margin-top: 0;
              }
            }
          }
          .section-subtitle {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .slider-section {
    .slider-list {
      display: none;
    }
    .slider-wrap {
      width: 100vw;
      height: 200px;

      .slider-prev {
        opacity: 1;
        width: 100%;

        .slide {
          width: 320px;
          margin: 0 5px;
        }
      }
    }

    .slider-arrow {
      display: none;
    }

    .slider-row {
      width: 100%;
      padding: 0 26px;

      .slider-col {
        width: 100% !important;

        &:nth-of-type(2) {
          display: none;
        }
      }
    }

    .slick-dots {
      gap: 0 !important;
    }
  }

  .section-inform {
    width: 100%;
    padding: 0;
    margin-bottom: 15%;
    .inform-wrap {
      max-width: 90%;
      width: 100%;
      .inform-list {
        margin-bottom: 15%;
        .inform-item,
        .inform-item:nth-child(even) {
          flex-direction: column;
          .inform-img {
            order: 1;
            width: 100%;
          }
          .inform-content {
            order: 2;
            width: 100%;
            padding: 0;
            margin-top: 5%;

            .inform-text {
              font-size: 14px;
            }
            .inform-title {
              font-size: 20px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }

  .row-inform {
    flex-direction: column;
    // margin-top: 40px;
    gap: 24px;

    .col-inform {
      width: 100% !important;

      .sub-title-inform,
      .sub-title {
        padding: 0;
      }
    }
  }

  .head-inform {
    font-size: 32px;
    line-height: 120%;
  }

  .blog-list {
    display: flex !important;
    flex-direction: column;
  }

  .mobility-section {
    .head-inform,
    .inform-wrap {
      width: 100% !important;
      padding: 0 16px;
    }
  }

  // .blog-list {
  // 	width: 100% !important;
  // 	padding: 0 16px;
  // }

  .inform-margin {
    margin-bottom: 60px;
  }

  .more-section {
    width: 100% !important;
    padding: 0 16px;

    .more-btn-groupe {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .footer {
    width: 100%;
    padding: 0;

    .footer-wrap {
      max-width: 100%;
      width: 100%;
      // padding-top: 5%;
      display: flex;
      flex-direction: column;
      gap: 0;

      .footer-col {
        position: relative;
        border-bottom: 1px solid #fff;
        align-items: start;
        padding: 0 5%;
        margin-bottom: 40px;
        .footer-col__title {
          text-transform: uppercase;
          font-size: 16px;
        }
        .footer-list {
          display: none;
          .footer-item {
            margin-bottom: 10%;
            font-size: 14px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .footer-col__icon {
          display: block;
          position: absolute;
          top: 5px;
          right: 3%;
          transform: rotate(180deg);
          transition: 0.5s;
        }
      }
      .footer-col:last-child {
        margin-top: 10%;
        border: none;
        width: 100%;

        .footer-list {
          display: block;
          .footer-item:first-child {
            display: flex;
            flex-direction: column;
          }
          .footer-item:last-child {
            display: none;
          }
        }
        .footer-social {
          width: 100%;
          text-align: center;

          &__list {
            justify-content: space-between;
            padding: 0 20px;
          }

          &__item {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .footer-menu-mobile {
      display: flex !important;

      .main-list {
        display: flex;
        flex-direction: column;
        color: #fff;

        .dropdown-item {
          padding: 18px 30px 18px 16px;
          border-bottom: 1px solid #666666;

          .dropdown-body {
            height: 0;
            opacity: 0;
            padding: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;

            .inner-dropdow {
              .inner-body {
                // display: none !important;
                padding: 0;

                height: 0;
                opacity: 0;
                overflow: hidden;
                transition: opacity 0.3s ease-in-out;
              }

              &--active {
                .inner-head-icon {
                  rotate: 180deg;
                }
                .inner-body {
                  display: flex !important;
                  height: 100%;
                  opacity: 1;
                  padding: 10px 5px !important;
                }
              }
            }
          }

          &--active {
            .head {
              &-icon {
                rotate: 180deg;
              }
            }

            .dropdown-body {
              height: 100%;
              opacity: 1;
            }
          }

          .head {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-icon {
              transition: rotate 0.3s ease-in-out;
            }
          }

          .inner-list {
            padding: 10px 0;

            .inner-dropdow {
              .inner-head {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;

                &-icon {
                  transition: rotate 0.3s ease-in-out;
                }
              }

              .inner-body {
                display: flex;
                flex-direction: column;
              }

              .images-list {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 22px;

                .image-item {
                  width: 150px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;

                  &__image {
                    width: 100%;
                  }
                }
              }

              .list-link {
                &__item {
                  padding: 5px 0;
                }
              }
            }
          }
        }

        .closed {
          height: 0;
          opacity: 0;
          overflow: hidden;
        }
      }
    }
  }
}
